<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <style type="text/css">
      .container {
        width: 400px;
        margin: 50px auto;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/">RawMaterial</a>
          <a class="nav-item nav-link" href="/view_production_stage"
            >Production</a
          >
          <a class="nav-item nav-link active" href="/view_dispatch">Dispatch</a>
        </div>
      </div>
    </nav>
    <br />

    <div class="container-sm bg-light text-center">
      <h1>
        Update Dispatch
      </h1>
      <form method="POST">
        <div class="container text-left">
          {% csrf_token %} {{ form.as_p }}
        </div>
        <div class="container text-centre">
          <button type="submit" action="/view_dispatch" class="btn btn-primary">
            Update Dispatch
          </button>
        </div>
        <br />
      </form>
    </div>
  </body>
</html>
